body {
  background: azure;
}

.root {
  margin: auto;
  max-width: 500px;
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 5px;
}

li {
  width: 95%;
  display: flex;
  justify-content: space-between;
  text-align: start;
  word-break: break-all;
  align-items: first baseline;
  padding: 10px;
}

p {
  margin: 0;
}

i {
  margin-left: 10px;
  cursor: pointer;
}
